<div class="container">
  <% if flash[:success].present? %>
    <h3 class="mb-md-5"> <%= flash[:success] %> </h3>
  <% end %>
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <%= render 'shared/form' %>
    <div id="post">
      <%= render 'posts' %>
    </div>
  </ul>
  
</div>