<div class="container">
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li>
      <h4> <%= @post.title %> </h4>
    </li>
    <li>
      <p> <%= @post.body %> </p>
    </li>
    <li class="list-group">
      <h6> <%= @post.user.full_name %> </h6>
    </li>
    <li class="list-group">
      <%= link_to "Update post", edit_admin_post_path(@post) %>
    </li>
  </ul>
</div>