<div class="container">
  <ul class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <%= render partial: 'posts', collection: @posts%>
  </ul>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
